@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color: black;
}
.ATMbg {
  background-image: url('./assets/ATM.jpeg'); 
  background-size: cover;
  background-position: center;
  height: 300px;

}
.Foodbg {
  background-image: url('./assets/Food-web.jpeg'); 
  background-size: cover;
  background-position: center;
  height: 300px;
 
}
.Linkdeinbg {
  background-image: url('./assets/Linkedin.jpeg');
  background-size: cover;
  background-position: center;
  height: 300px;

}
.Patientbg{
  background-image: url('./assets/Patient.jpeg'); 
  background-size: cover;
  background-position: center;
  height: 300px;

}
.Youtube {
  background-image: url('./assets/Youtube.jpeg'); 
  background-size: cover;
  background-position: center;
  height: 300px;

}
.Profile {
  background-image: url('./assets/ProfilePhoto.jpeg'); 
  background-size: cover;
  background-position: center;
 

}
img {
  border-radius: 50% !important;
  height: 250px;
  width: 250px;
}